.BOX1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #1D0B23D9;
}

.BOX2{
    width: 85%;
    height: 956px;
    background-image: url("../Images/dark\ fill\ bg.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.Chat{
    width: 50%;
    height: 628px;
    background-color: #1C0A22;
    border-radius: 50px;
    display: flex;
}

.Chat1{
    width: 43%;
    background: transparent;
    display: flex;
    justify-content: center;
}

.Chat2{
    width: 57%;
    background-color: #2A1332;
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chat1_in{
    width: 90%;
    height: 60%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.chat_human{
    width: 100%;
    height: 90px;
    border-radius: 500px;
    background-color: #1C0A22;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat_human:hover{
    background-color: #2A1332;
}

.humanIn{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.Inline{
    width: 30%;
}

.Inline1{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.Inline2{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.online{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    margin-inline-start: 10px;
}

.chatName_online{
    width: 70%;
    display: flex;
    justify-content: flex-start;
}

.onl_online{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #33E159;
    display: none;
}

.online:hover .onl_online{
    display: flex;
}

.chatOnl{
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.chat_name{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

.chat_text{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6E447B;
    margin-inline-start: 10px;
    display: flex;
}

.message{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(to right, #EE0979, #FF6A00);
    margin-block-end: 13px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.humanIn:hover .message{
    display: flex;
}

.chat2_in{
    width: 85%;
    height: 65%;
    margin-block-start: 50px;
}

.title{
    width: 30%;
    display: flex;
    justify-content: flex-start;
}

.title_user{
    width: 75%;
    display: flex;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: white;
}

.onl3{
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.onl_online1{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #33E159;
    display: none;
}

.title:hover .onl_online1{
    display: flex;
}

.Messages{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
}

.message1{
    width: 100%;
    display: flex;
}

.top{
    margin-top: 20px;
}

.foto{
    width: 15%;
    display: flex;
    justify-content: flex-start;
}

.mess{
    width: 80%;
}

.small{
    width: 40px;
    height: 40px;
}

.meesage_frame{
    width: 80%;
    height: 68px;
    border-bottom-right-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-left-radius: 500px;
    background: linear-gradient(to right, #EC008C, #FC6767);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.hello{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    margin: 0;
    padding: 0;
    margin-inline-start: 20px;
}

.right{
    display: flex;
    justify-content: flex-end;
}

.blue{
    background: linear-gradient(to right, #0575E6, #021B79);
    border-top-right-radius: 0px;
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
}

.left{
    margin: 0;
}

.auto{
    width: 90%;
    height: auto;
}

.input_chek{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.inp_chek{
    width: 85%;
    height: 60px;
    background-color: #42204E;
    border-radius: 500px;
    display: flex;
    align-items: center;
}

.inp_message{
    width: 80%;
    border: none;
    border-radius: 500px;
    background: transparent;
    color: #8B5D9A;
    margin-inline-start: 10px;
    display: flex;
    justify-content: space-between;
}