body{
    background-color: #1B0522;
}

.Box2{
    width: 100%;
    height: auto;
    background-color: #1B0522;
}

.Images{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -870px;
}

.nav{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #1B0522;
}

.navIn{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav_text{
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
}

.nav_text2{
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}


.accordion1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fa-chevron-down{
    color: white;
    font-size: 12px;
}

.Nav{
    width: 100%;
    display: flex;
    justify-content: center;
}

.Navbar{
    width: 70%;
    display: flex;
    /* justify-content: center; */
    margin-top: 20px;
}

.logo{
    width: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.bird_text{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    color: white;
}

.Create{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.create_ac{
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    margin: 0;
    padding: 0;
}

.createBtn{
    width: 140px;
    height: 46px;
    border: 1px solid #FF6A00;
    border-radius: 500px;
    background: transparent;
    transition: .3s ease-out;
}

.cr_btn_t{
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;  
    text-decoration: none;
}

.createBtn:hover{
    background-color: #FF6A00;
}


.Main3{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.InMain3{
    width: 50%;
}

.inMain_h{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 60px;
    font-weight: 500;
    line-height: 90px;
}

.pText{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.parol{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Email{
    gap: 20px;
}

.fa-envelope{
    font-size: 20px;
    color: #8B5D9A;
}

.block{
    font-size: 20px;
    color: #8B5D9A;
}

.Password{
    margin-top: 20px;
}

.btnCreate{
    width: 380px;
    height: 70px;
    border-radius: 500px;
    border: none;
    margin-top: 20px;
    background: linear-gradient(to right, #EE0979, #FF6A00);
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: white;
}

.btnCreate:hover{
    background: transparent;
}

.forgot{
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #925FA4;
    text-decoration: none;
    margin-top: 20px;
}

.foot2{
    position: static;
    margin-block-start: 370px;
    margin-block-end: -30px;
    margin-left: 350px;
}
