.Main5{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.main5{
    width: 75%;
    height: auto;
    display: flex;
    align-items: center;
}

.Ellipse3{
    width: 70px;
    height: 70px;
    border: 1px solid #FF6A00;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-end: 20px;
    transition: .3s ease-out;
}

.Ellipse3:hover{
    background-color: #FF6A00;
}

.i{
    font-size: 18px;
    color: white;
}

.CardsPr{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.Card{
    width: 40%;
}

.pr_icon{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.img_foto{
    width: 100%;
    height: 498px;
    background-image: url("../Images/Rectangle\ 15.png");
}

.Icon_love{
    width: 60%;
    height: 95%;
    margin-inline-start: 20px;
}

.imgLove{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.imgLove img{
    margin-top: 20px;
}

.iconLove{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.fa-heart{
    font-size: 18px;
    color: white;
}

.loveCircle{
    width: 60px;
    height: 60px;
    background: linear-gradient(to right, #EE0979, #FF6A00);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-end: 17px;
}

.loveCircle:hover{
    background: transparent ;
    border: 1px solid #FF6A00;
}

.loveCircle:hover i{
    color: red;
}

.Texts{
    width: 55%;
    height: auto;
    margin-inline-start: 50px;
}

.user1{
    width: 40%;
    display: flex;
}

.username{
    width: 80%;
}

.onlayn{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    transition: .3s ease-out;
}

.onl{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #33E159;
    display: none;
}

.onlayn:hover .onl{
    display: flex;
}

.name2{
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    color: white;
    margin: 0;
    padding: 0;
}

.But{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.c_b{
    width: 220px;
}

.c_b:hover{
    border: 1px solid #FF6A00;
}

.InText5{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.inTexts1{
    width: 100%;
    display: flex;
    align-items: center;
    transition: .3s ease-out;
}

hr{
    background-color: #4A2956;
}

.inT1{
    width: 100%;
    height: 50%;
}

.inT_11{
    width: 15%;
    display: flex;
    justify-content: flex-start; 
}

.inT_13{
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.inT_12{
    width: 65%;
}

.sm{
    width: 10%;
}

.sm1{
    width: 70%;
}

.bg{
    width: 20%;
}

.b1{
    width: 50%;
}

.bg2{
    width: 30%;
}

.bg3{
    width: 40%;
}

.bg4{
    width: 30%;
}


.komp{
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    color: #FFFDFD;
    margin: 0;
    padding: 0;
    opacity: 0.8;
}

.inTexts1:hover .komp{
    font-size: 18px;
    color: white;
    opacity: 1;
}

.Bosh{
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.bigText{
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    opacity: 0.8;
    margin: 0;
    padding: 0;    
}

.bot{
    margin-top: 20px;
}

.bot1{
    margin-top: 5px;
}

.sayt{
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #8B5D9A;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
}


.el4{
    margin: 0;
    margin-inline-start: 20px;
}

.fa-chevron-right{
    color: white;
    font-size: 18px;
}

.Foott{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 180px;
}

.foot5{
    width: 80%;
    margin-top: 1px;
}